*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.50%;
    font-family: sarif;
    background: linear-gradient(0deg,rgb(112, 179, 241),transparent),url(../assests/word_games_tournament.png)no-repeat center/contain;
    min-height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,.container1,.result{
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border: 5px solid rgb(163, 163, 163,.5);
    border-radius: 10px;
    max-width: 800px;
}

.container1{
    display: none;
}

.container,.setting,.difficulty-mode,.type-mode,.info,.let-begins,.result{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.heading{
    text-align: center;
    color: black;
    border-bottom:4px solid grey;
    padding:0 0 2rem 0;
}

.heading h1{
    animation: scale 3s infinite ease;
}

.button-box{
    text-align: center;
    margin: 1rem auto;
}

.start-game{
    background: rgba(206, 203, 203, 0.705);
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-radius: 10px;
    padding: 0.8rem 1.5rem ;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s ease;
    
}

.startlink{
    text-decoration: none;
    color: rgb(42, 42, 199);
    font-weight: 800;
    transition: all 0.5s ease;
}

.start-game:hover{
    background-color: grey;
    border: 2px solid blue;
    color:white;
}

.start-game:hover a{
    color:white;
}

.start-game:active{
    transform: scale(0.9);
}

.setting,.info{
    position: relative;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.setting-head{
    position: absolute;
    top: -0.8rem;
    left: 0.8rem;
    font-size: 0.7rem;
    padding:0 1rem;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
}

.mode-heading,.type-mode-heading,.info-heading{
    font-weight: 800;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom:3px solid grey ;
}


.mode-div,.control,.time-score,.buttons{
    display: flex;
    flex-direction: row;
    
}

.mode-div,.type-div{
    margin: 0.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    border-right: 2px solid rgba(128, 128, 128, 0.5);
}

.mode-div input,.type-div input{
    padding: 0.5rem;
    display: inline-block;
    margin: 0.3rem 0.5rem;

}

.info-discription{
    padding: 1rem 0 1rem 0.5rem;
    line-height: 1.4;
    font-size: 1.2rem;
}

.info-discription span,.score span,.time span{
    color: rgb(190, 66, 8);
    font-size: 1.3rem;
}

.let-begins{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.3;
}

.time-score{
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
    
}

.inputword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.inputword input{

    width: 100%;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 1.3rem;
}

.inputword small{
    color:red;
    margin: 1rem auto;
    opacity: 0;
}

.inputword small.show{
    opacity: 1;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result{
    display: none;
    animation: popup 2s ease;
    transition: all 2s ease;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.result h1, .result h2{
    padding: 1rem 0;
}

.result span{
    color: rgb(190, 66, 8);
}


.display{
    display: flex;
}


@keyframes scale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
        
    }
}
@keyframes popup {
    0%{
        opacity: 0.5;
        transform: scale(0.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
