*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background:linear-gradient(0deg, rgba(219,233,43,0.8) 0%, rgba(118,217,233,0.9) 100%),url(../assests/HEAD-accounting-app-trends1.png)no-repeat center/cover;
    font-size: 62.5%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainhead{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: rgb(37, 98, 190);
    animation: fade 3s infinite ease-in-out;
    transition: all 2s ease;
}

.balance-container{
    text-align: center;
    font-size: 1.8rem;
    color: grey;
    margin: 0.8rem;

}

.income-box{
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1rem 0;
    box-shadow: 3px 3px 20px grey;
}

.plus-income,.minus-icome{
    width: 50%;
    text-align: center;
}
.plus-income{
    border-right: 3px solid grey;
}

.income-head{
    padding: 0.7rem 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.income-rupees{
    font-size: 1.1rem;
    padding: 0.7rem;
    display: inline-block;
}

.plus{
    color: rgb(30, 185, 16);
    letter-spacing: 1.4px;
    font-weight: 600;
}
.minus{
    color: rgb(139, 45, 45);
    letter-spacing: 1.4px;
    font-weight: 600;
}

.transaction-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    margin: 1rem 0;

}

.transaction-history h2,.new-transaction h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0 0 0;
    padding-bottom: 0.9rem;
    border-bottom: 2px solid grey;
}

.history-list ul{
    width: 100%;   
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 3px;
    font-size: 1.2rem;
    padding: 0 0 2rem 0;
    justify-content: space-around;
    color: black;
    align-items: center;

}

.green-border{
    border-right: 3px solid green;
} 

.red-border{
    border-right: 3px solid red;
}

.history-salary{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    height: auto;
    border-radius: 5px;
    padding: 1rem 0.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
}

.history-salary button{
    position: absolute;
    top: 7px;
    border-radius: 5px;
    left: -7%;
    border: none;
    background-color: maroon;
    color: white;
    padding: 4px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.history-salary span{
    color: grey;
    
}
.history-salary:hover button{
    opacity: 1;
}

.new-transaction{
    border-top: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description{
    width: 60%;
    margin: 1.3rem auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.1rem;
}
.description input[type="text"]{
    width: 80%;
}
input[type="text"]{
    padding: 1rem 0.5rem;
    font-size: 1rem;    
    outline: none;
    border-radius: 5px;
    border: 2px solid grey;
}
.description input{
    padding: 1rem 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    width: 40%;
    border: 2px solid grey;
    margin: 0 auto;
}

.description label{
    margin: 0.7rem;
    font-weight: 600;
    color:rgb(65, 68, 62);
}

.form-control{
    width: 60%;
    margin: 0 auto 2rem auto;
}

.form-control button{
    padding: 0.8rem 1rem ;
    box-shadow: 3px 3px 15px rgb(36, 35, 35);
    width: 100%;
    border: 2px solid rgb(61, 61, 60);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;   
    color: rgb(255, 96, 5);
    background-color: rgb(254, 255, 255);
}

.author{
    position: absolute;
    right: 40px;
    top: 40px;
    font-weight: 600;
    font-size: 0.8rem;
    color: grey;
}
.home a{
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(177, 163, 150, 0.788);
    top: 40px;
    left: 40px;
    border-radius: 5px;
    padding: 8px 10px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border:2px solid burlywood;
    color: white;
    background-color:lightseagreen;
}

.home:active{
    transform: translateY(-3px);
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    form{
        opacity: 0.5;
        transform: scale(1.1);
    }
    to{
        opacity: 1;
        transform: scale(1.2);
    }
}