*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
    
body{
    background:linear-gradient(to top, rgba(255, 255, 255, 0.39) ,rgba(77, 245, 43, 0.5)50%) ,url(../assests/nat-1-large.jpg)no-repeat center/cover;
    font-size: 63%;
    max-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
    justify-content: center;
    color: white;
}

h1{
    margin: 2rem 0;
    text-align: center;
    font-size: 3rem;
    color: black;
}

.screen{
    cursor: pointer;
    max-height: 70vh;
    width: 100%;
    margin: 0 auto;
    height: 50%;
}

.video-player{
    padding: 0;
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    align-self: center;
    justify-content: center;
    color: white;
}

.control{
    /* padding: 0 rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(112, 128, 144, 0.623);
    flex-wrap: wrap;
    width: 97%;
    margin: 0 auto;
}

.control .progress{
    width: 70%;
    margin-left: 0.9rem;
}

.btn{
    width: 5%;
    background: transparent;
    outline: transparent;
    border: 0;
    cursor: pointer;
}

.control .timestamp{
    width: 5%;
    color:black;
    font-size: 0.9rem;
    padding: 6px 6px 0 0;
}

@media (max-width:800px){
    .control{
        width: 100%;
    }
    .video-player{
        width:90%;
    }
}

.play{
    color: lightcoral;
}

.stop{
    color: lightseagreen;
}